body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
}

/*Styles for header and hero*/

.header {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F2937;
}

.nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

a, .text p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.text {
    width: 50%;
}

.text h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

.text p {
    margin-top: 5px;
    padding-right: 30px;
}

button {
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    padding: 8px 25px;
}

.image {
    width: 50%;
    background-color: gray;
}

/*This is styling for info section*/
.info{
    flex-grow: 1;
}

.info h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.container {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.box {
    width: 180px;
    height: 180px;
    border: 4px solid #3883f6;
    border-radius: 15px;
}

.box-container p {
    max-width: 188px;
    margin-top: 5px;
    color: #1f2937;
}

/*This is styling for the quote section */

.quote-container {
    height: 60vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
}

.quote-by{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

/* This is styling for the call to action button */
.call {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.call h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.call p {
    font-size: 18px;
    margin-top: 0;
}

.call-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    height: 22vh;
    width: 1000px;
    color: white;
}

/*This is the style for the footer */
.footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
}

.call-btn {
    border: 2px solid white;
    border-radius: 7px;
}
